:root {
  /*use 100vh for mobile responsive
COP!!!*/
  --doc-height: 100%;
}

body {
  /*use 100vh for mobile responsive
COP!!!*/
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);

  /* How TO - Disable Text Selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: larger;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgreen;
  /* color: white; */
}
/* prevent Refresh on touchDown */
body {
  overscroll-behavior: contain;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .main {
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
} */

/* //////////////////////////////////// */

.rangeContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
}

h4 {
  margin-bottom: 80px;
}
.slider {
  cursor: pointer;
  outline: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background-color: yellowgreen;
  border: 1px solid yellow;
  border-radius: 5px;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background-color: white; /* Green background */

  border: 1px solid green;
  border-radius: 15px;
}
/* /////////////////////////////////////// */

.slider::-moz-range-thumb {
  /* -webkit-appearance: none;
  appearance: none; */
  width: 25px;
  height: 25px;
  background: white;

  border: 1px solid green;
  border-radius: 15px;
}
.rangeContainer {
  position: relative;
}
label {
  background-color: white;
  width: 50px;
  padding: 3px 0;
  position: absolute;
  top: -40px;
  box-shadow: 0 0 5px gray;
  text-align: center;
  border-radius: 5px;

  left: calc(-10px + 112.5px);
  /* left: -10px; */
}
