body {
  /*use 100vh for mobile responsive
Ahmad!!!*/
  height: 100dvh; /* fallback for Js load */

  /* How TO - Disable Text Selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: larger;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgreen;
  /* color: white; */
}
/* prevent Refresh on touchDown */
body {
  overscroll-behavior: contain;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .main {
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
} */

/* //////////////////////////////////// */
label {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}
.main {
  background-color: white;
  padding: 50px 50px 100px 50px;
  max-width: 70vmin;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px gray;
}
h4 {
  text-align: center;
}
.btn {
  background-color: green;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  color: white;
}
